<div class="input-group mb-2">
  <%= f.label :url, class: "input-group-text" %>
  <%= f.text_field :url, class: "form-control" %>

  <%= link_to "Remove", "#", class: "btn btn-danger remove-image ms-2" %>
</div>
