<% content_for :title, "Editing Property" %>

<div class="container mt-5">
  <h1 class="mb-4">Edit Property</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= render "form", property: @property %>
    </div>
  </div>
</div>
